// Header styles
.header {
    position: fixed;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;

    z-index: 1000;

    @media (min-width: $layout-breakpoint-medium) {
        padding: 0 0 0 40px;
    }

    @media (min-width: $layout-breakpoint-xlarge) {
        top: 40px;
        padding: 0 0 0 55px;

        &::before {
            position: absolute;
            content: "";
            width: calc(100% - 900px);
            height: 1px;
            background: white;
            opacity: 25%;
            top: 50%;
            left: 165px;
            transform: translate(0, -50%);
            z-index: 100;
        }
    }

    &__logo {
        position: relative;
        width: 40px;
        aspect-ratio: 1/1;
        cursor: pointer;

        @media (min-width: $layout-breakpoint-medium) {
            width: 48px;
        }
    }
}
