.destination {
    @include paddingY;
    padding-top: 88px;
    position: relative;
    display: flex;

    @media (min-width: $layout-breakpoint-medium) {
        padding: 136px 0 0 0;
    }

    .destination__inside {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;

        @media (min-width: $layout-breakpoint-xlarge) {
            height: calc(100vh - 136px);
            flex-direction: row;
        }
    }
}
