*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark--clr;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.bg--mobile {
    z-index: -1;
    display: flex;

    @media (min-width: $layout-breakpoint-medium) {
        display: none;
    }
}

.bg--tablet {
    z-index: -1;

    display: none;
    @media (min-width: $layout-breakpoint-medium) {
        display: flex;
    }

    @media (min-width: $layout-breakpoint-xlarge) {
        display: none;
    }
}

.bg--desktop {
    display: none;

    @media (min-width: $layout-breakpoint-xlarge) {
        display: flex;
    }
}

.bg__holder {
    z-index: -1;
}
