.navlink--mobile {
    font-family: "Barlow Condensed", sans-serif;
    color: white;
    letter-spacing: 2.7px;
    font-size: 16px;

    span {
        font-weight: 700;
    }
}

.navlink--desktop {
    font-family: "Barlow Condensed", sans-serif;
    position: relative;
    color: $light--clr;
    letter-spacing: 2.36px;
    font-size: 14px;

    &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 3px;
        background: white;
        left: 50%;
        bottom: -36px;
        transform: translate(-50%);
        transition: 0.4s;
    }

    &:hover::before {
        width: 100%;
        opacity: 50%;
    }

    span {
        display: none;
    }

    @media (min-width: $layout-breakpoint-xlarge) {
        display: flex;
        align-items: center;
        gap: 0 12px;

        span {
            font-weight: 700;
            display: inline-block;
        }
    }
}

.navlink--desktop.active {
    &::before {
        width: 100%;
    }

    &:hover::before {
        opacity: 1;
    }
}

.heading--1 {
    font-family: "Bellefair", serif;
    font-size: 80px;
    color: white;
    line-height: 100px;

    @media (min-width: $layout-breakpoint-medium) {
        font-size: 150px;
        line-height: 150px;
    }
}

.heading--2 {
    font-family: "Bellefair", serif;
    font-size: 56px;
    color: white;

    @media (min-width: $layout-breakpoint-medium) {
        font-size: 80px;
    }

    @media (min-width: $layout-breakpoint-xlarge) {
        font-size: 100px;
    }
}

.heading--3 {
    font-family: "Bellefair", serif;
    font-size: 56px;
    color: white;
}

.heading--4 {
    font-family: "Bellefair", serif;
    color: white;
    letter-spacing: 1.25px;
    font-size: 20px;

    @media (min-width: $layout-breakpoint-medium) {
        font-size: 32px;
    }
}

.heading--5 {
    font-family: "Barlow condensed", sans-serif;
    color: $fog--clr;
    font-size: 16px;
    letter-spacing: 2.7px;
    font-weight: 400;

    @media (min-width: $layout-breakpoint-medium) {
        font-size: 20px;
        letter-spacing: 3.4px;
    }

    @media (min-width: $layout-breakpoint-xlarge) {
        font-size: 28px;
        letter-spacing: 4.75px;
    }
}

.subheading--1 {
    font-family: "Bellefair", serif;
    font-size: 28px;
    color: $light--clr;
    font-weight: 400;
}

.subheading--2 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    letter-spacing: 2.36px;
    font-weight: 400;
    color: $fog--clr;
}

.description {
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: $fog--clr;

    @media (min-width: $layout-breakpoint-medium) {
        font-size: 16px;
        line-height: 28px;
    }

    @media (min-width: $layout-breakpoint-xlarge) {
        font-size: 18px;
        line-height: 32px;
    }
}

.nav--text {
    font-family: "Barlow Condensed";
    font-size: 16px;
    letter-spacing: 2.7px;
    color: $light--clr;
}
