//Breakpoints
$layout-breakpoint-xlarge: 1400px;
$layout-breakpoint-large: 1024px;
$layout-breakpoint-medium: 768px;

//Colors
$dark--clr: hsl(230, 35%, 7%);
$fog--clr: hsl(231, 77%, 90%);
$light--clr: hsl(0, 0%, 100%);
$half-transparent--clr: rgba(255, 255, 255, 0.5);

//fonts
$barlow--fnt: "Barlow Condensed", sans-serif;
$bellefair--fnt: "Bellefair", serif;

//padding
@mixin paddingTop {
    padding-top: 112px;

    @media (min-width: $layout-breakpoint-medium) {
        padding-top: 200px;
    }
}

@mixin paddingY {
    padding-left: 24px;
    padding-right: 24px;
}
